{#{{ form }}#}

{% if search_title %}
  <h2>{{ search_title }}</h2>
{% endif %}

{% if no_of_results %}
  <p>{{ no_of_results }}</p>
{% endif %}
{% if no_results_found %}
  <h2>{{ no_results_found }}</h2>
  <div style="height: 35vh;"></div>
{% endif %}


{#{{ search_help }}#}

{{ results }}
{{ pager }}
